TUM_Techniques in AI/Breadth-first-search/output_4.txt
TUM_Techniques in AI/Breadth-first-search/output_1.txt
TUM_Techniques in AI/Breadth-first-search/output_2.txt
TUM_Techniques in AI/Breadth-first-search/output_3.txt
TUM_Techniques in AI/Breadth-first-search/readme.txt
TUM_Techniques in AI/Constraint satisfaction/readme.txt
TUM_Techniques in AI/Breadth-first-search/output.txt
*.csv
Udemy_ML/Part 2 - Regression/Section 5 - Multiple Linear Regression/Step-by-step-Blueprints-For-Building-Models.pdf
TUM_Machine Learning/Lectures/lecture_01_dt.pdf
TUM_Machine Learning/Lectures/lecture_01_knn.pdf
TUM_Machine Learning/Lectures/lecture_02_probability.pdf
TUM_Machine Learning/Lectures/lecture_03_param_inference.pdf
TUM_Machine Learning/Lectures/lecture_04_linear_regression.pdf
TUM_Machine Learning/Lectures/lecture_05_linear_classification.pdf
TUM_Machine Learning/Lectures/lecture_06_optimization.pdf
TUM_Machine Learning/Lectures/lecture_07_08_svm.pdf
TUM_Machine Learning/Lectures/lecture_09_deep_learning.pdf
TUM_Machine Learning/Lectures/lecture_10_dim_reduction.pdf
TUM_Machine Learning/Lectures/lecture_11_clustering.pdf
TUM_Machine Learning/Lectures/lecture_12_variational_inference.pdf
TUM_Mining Massive Datasets/HW1_Duplicate detection/top_25k_words.npy
TUM_Mining Massive Datasets/HW1_Duplicate detection/bow_subset.npz
TUM_Mining Massive Datasets/HW1_Duplicate detection/reviews_subset.json
